<h3>Pending Friend Requests</h3>
<div><% @pendingRequests.each do |req| %>
    <li> <%= req.email%>- <%= link_to 'Accept', acceptRequest_url(id: req.id, accept: 1) ,method: :post%>
    <%= link_to 'Reject', acceptRequest_url(id: req.id, accept: 0) ,method: :post%></li> 
    <%end%>
</div>

<%= button_to 'Back', root_url, method: :get %>
