<h3>Send Friend Requests</h3>
<div><% @users.each do |user| %>
    <li> <%= user.email%>- <%= link_to 'Send Request', sendRequest_url(id: user.id) ,method: :get%></li> 
    <%end%>
</div>

<div class="flickr_pagination">
  <%= will_paginate @users %>
</div>

<%= button_to 'Back', root_url, method: :get %>
