<br>
<div style="display: flex; justify-content: space-between;">
    <div style="display: block">
    <h3>Posts</h3>
    <% @post.each do |ava| %>
            <span><%= link_to image_tag(ava.avatar, width: "200px", height: "200px"), post_url(ava.id), method: :get%></span>
    <% end %>
    </div>
    </div>
</div>
