// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.postImage{
    width: 100px;
    height: 200px;
}
.likeButton{
    background-color: red;
    color: blue;
}
